@import './reset';
@import './posicionamento';
@import './item';

body {
    @include reset();
    @include dimensoes(90vw, 100vh);
    display: grid;
    place-items: center;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 20px;

    .container {
        width: 100%;
        .grid1 {
            display: grid;
            grid-template: 50px 1fr / 100px 1fr 100px;  // Linhas / Colunas
        }

        .grid2 {
            display: grid;
            grid-template: 
                        "logo nav nav" 50px
                        "sidenav content advert" 150px
                        "sidenav footer footer" 100px
                        / 100px 1fr 100px;  // Linhas / Colunas
        }

        .logo {grid-area: logo;}
        .nav {grid-area: nav;}
        .sidenav {grid-area: sidenav;}
        .content {grid-area: content;}
        .advert {grid-area: advert;}
        .footer {grid-area: footer;}

        .item {
            @include item(auto, auto, rgb(241, 14, 128), white);
            line-height: 50px;
        }
        .gap {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        .grid-column-gap {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
        }
        .grid-row-gap {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 20px;
        }
        .grid-area {
            display: grid;
            .item1 {
                // row / col / row / col
                grid-area: 1/2 / 4/3;
                background-color: rgb(53, 194, 10);
            }
            .item4 {
                background-color: blueviolet;
                grid-area: 4/2 / 8/3;
            }
        }
        .grid-area2 {
            display: grid;
            grid-template-areas: "h h h"
                                 "s c c"
                                 "s c c"
                                 "f f f";
            .item {
            background-color: rgb(241, 14, 128);
            color: white;
            }
            .item-1 {
                grid-area: h;
                background-color: greenyellow;
            }
            .item-2 {
                grid-area: s;
                background-color: rgb(4, 172, 79);
            }
            .item-3 {
                grid-area: f;
                background-color: rgb(230, 58, 15);
            }
            .item-4 {
                justify-self: end;
            }
            .item-5 {
                align-self: start;
            }
        }
    }
}